<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<h1>Teachers</h1>
<ul>
    <li>
        <input onclick="window.location.href='Teachers_Inputs.html'" type="button" value="Input Teacher Data">
    </li>
    <li>
        <input onclick="window.location.href='Teachers_Outputs.html'" type="button" value="View Teacher Data">
    </li>
    <li>
        <input onclick="window.location.href='Teachers_Updates.html'" type="button" value="Update Teacher Data">
    </li>
    <li>
        <input onclick="window.location.href='Teachers_Delete.html'" type="button" value="Delete Teacher Data">
    </li>
</ul>
</body>
</html>